.pipe.caesar .pipe-advanced .pipe-advanced-inner {
  .input-wrapper {
    flex: 3;
    position: relative;

    span {
      position: absolute;
      display: flex;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
}
@media (max-width: 700px) {
  .pipe.caesar .pipe-advanced .pipe-advanced-inner {
    .input-wrapper {
      span {
        right: 0.5rem;
        pointer-events: none;
      }
    }
  }
}
