@mixin modal-generic($width) {
  background: var(--main-bg);
  padding: 2rem;
  border-radius: 1rem;
  width: $width;
  max-height: 75vh;
  overflow: auto;
}

.modal {
  @include modal-generic(min(90vw, 500px));
  position: relative;
  display: none;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 2rem;

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

.modal2 {
  @include modal-generic(min(90%, 300px));
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  span {
    font-size: 1rem;
    text-align: center;
  }
  .modal2-options {
    display: flex;
    width: 100%;
    gap: 1rem;
    > * {
      flex: 1;
    }

    .modal2-yes,
    .modal2-no {
      border: none;
      border-radius: 5px;
      padding-block: 0.25rem;
      color: #fff;
      opacity: 1;
      transition: 0.125s ease;

      &.modal2-yes {
        background: rgb(219, 85, 85);
      }
      &.modal2-no {
        background: rgb(109, 109, 109);
      }

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

.modal3,
.modal4 {
  @include modal-generic(min(90%, 1000px));
  display: none;
  flex-direction: column;
  position: relative;
}

.info,
.guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;

  h3 {
    width: 90%;
  }

  p {
    line-height: 1.5;
  }
  ul {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    //list-style: none;
  }
  a {
    color: #1886ca;

    i {
      color: inherit;
      font-size: 0.85rem;
    }
  }
}

.close-modal-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  color: var(--nav-n-footer-bg);
  opacity: 0.5;
  transition: 0.15s ease;
  margin-left: auto;

  &:hover {
    opacity: 1;
  }
}

.buttons-grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  perspective: 400px;

  .button {
    aspect-ratio: 1 / 0.5;
    border: none;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 5px;
    background: var(--inputs-bg);

    &:hover {
      box-shadow: var(--shadow-on-trigger);
      transform: scale(1.05);
    }
  }
}

.pipeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  .pipeline {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: inherit;
  }

  .buttons {
    display: flex;
    gap: 0.5rem;

    button {
      width: 4rem;
      background: none;
      border-radius: 2px;
      opacity: 0.5;
      padding: 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--inputs-bg);
      border: none;
      box-shadow: var(--shadow);
      transition: all 0.3s ease, opacity 0.1s ease;

      i {
        color: var(--clr);
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
.field {
  display: flex;

  width: 100%;
  gap: 0.5rem;
  border-radius: 5px;

  textarea {
    width: 100%;
    height: 240px;
  }

  .formatting {
    padding: 1rem;
    background: var(--inputs-bg);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--shadow);
    max-height: 15rem;
    overflow: hidden;
    border-top: 2px solid green;
  }
  .title-container {
    display: flex;
    justify-content: space-between;

    .copy-btn {
      font-size: 1.3rem;
      background: none;
      border: none;
      display: flex;
      align-items: center;
      i {
        opacity: 0.75;
      }
      &:hover i {
        opacity: 1;
        transition: all 0.1s ease;
      }
    }
  }
}

.formatting__inner {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  select {
    background: var(--inputs-bg2);
  }

  > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    gap: 0.5rem;
  }

  .groupby-select {
    pointer-events: none;
    opacity: 0.5;
  }

  .enabled {
    pointer-events: auto !important;
    opacity: 1 !important;
  }
}
.copy-notif {
  background: var(--inputs-bg);
  color: var(--clr);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  position: fixed;
  right: 1rem;
  top: -100%;
  opacity: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.moved-notif {
  top: 1rem;
  opacity: 1;
}

#scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: auto 1rem 1rem auto;
  height: 2rem;
  width: 2rem;
  z-index: 500;
  border-radius: 50%;
  background: var(--inputs-bg);
  box-shadow: var(--shadow2);
  border: none;

  i {
    transition: all 0.125s ease;
    font-size: 100%;
  }
}

[data-scrollto="down"] i {
  transform: rotate(180deg);
}
[data-scrollto="up"] i {
  transform: rotate(0deg);
}

.home-wrapper {
  gap: 4rem;
}

@media (max-width: 500px) {
  .field {
    flex-direction: column;

    textarea {
      height: 480px;
    }

    .formatting h3 {
      align-self: center;
    }
  }
  .formatting__inner {
    flex-direction: row;

    > * {
      text-align: center;
    }
  }

  .buttons-grid {
    grid-template-columns: 1fr;
    gap: 1rem;

    .button {
      padding: 1rem;
      aspect-ratio: auto;
    }
  }
  .modal3 .info .heading-wrapper {
    flex-direction: column;
  }
}

@keyframes notification {
  from {
    top: -100%;
  }
  to {
    top: 1rem;
  }
}
