.numeralsystem {
  .pipe-advanced-inner {
    gap: 2rem;

    > .div select {
      flex: 1;
    }
  }
}

@media (max-width: 500px) {
  .numeralsystem .pipe-advanced-inner {
    flex-direction: column;
    > .div {
      justify-content: center;

      select {
        flex: 0;
      }
    }
  }
}
@media (max-width: 500px) {
  .numeral-wrapper .selects-flex > div {
    justify-content: space-between;
  }
}
