.xor {
  width: 90vw;

  .key-area-container {
    position: relative;

    .div > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  .rand {
    background: none;
    border: none;
    cursor: pointer;

    &:hover i {
      color: rgb(134, 125, 255);
    }

    i {
      font-size: 1.25rem;
      pointer-events: none;
    }
  }
}

@media (max-width: 500px) {
  .xor {
    .rand i {
      font-size: 1.5rem;
    }
  }
}
