@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import "./vigenere";
@import "./caesar";
@import "./base32";
@import "./xor";
@import "./numeralsystem";
@import "./morse";
@import "./home";
@import "./alphabeticalsub.scss";
@import "./url-encoding";

[data-theme="dark"] {
  --inputs-bg: rgb(50, 53, 65);
  --inputs-bg2: rgb(61, 66, 85);
  --main-bg: rgb(24, 28, 39);
  --nav-n-footer-bg: #10121a;
  --nav-n-footer-clr: #f3f3f3;
  --clr: #f3f3f3;
  --shadow: none;
  --shadow-on-trigger: none;
  --shadow2: none;
  --shadow2-on-trigger: none;
}

[data-theme="light"] {
  --inputs-bg: #ffffff;
  --inputs-bg2: #ffffff;
  --main-bg: #f2f4f6;
  --nav-n-footer-bg: #2b2b2b;
  --nav-n-footer-clr: #f3f3f3;
  --clr: #414141;
  --shadow: 0 0 0.75rem #a0a0a080;
  --shadow-on-trigger: 0 0 1.5rem #7a7a7a99;
  --shadow2: 0 0 0.75rem #a0a0a080;
  --shadow2-on-trigger: 0 0 0.75rem #a0a0a0bf;
}

html {
  scroll-behavior: smooth;
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr);
  transition: 0.3s ease;
  transition-property: background-color, color, box-shadow, border;

  &:not(h1):not(h2):not(h3) {
    font-size: 1rem;
  }
}

h1 {
  text-align: center;
  margin-block: 2rem 1rem;
}

button {
  cursor: pointer;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background: var(--main-bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  opacity: 0;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  //justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.chain {
  width: 1.5rem;
  margin-inline: auto;
  transform: rotate(-45deg);
  margin-block: -0.125rem;
  pointer-events: none;
}

.selects-flex {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: min(100%, 500px);
  > * {
    width: 100%;
  }
}

select {
  font-family: inherit;
  background: var(--inputs-bg);
  box-shadow: var(--shadow2);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  transition: all 0.3s ease;

  &:focus {
    box-shadow: var(--shadow2-on-trigger);
  }
}

textarea {
  resize: vertical;
  width: 100%;
  padding: 1rem;
  font-family: "Source Code Pro", monospace;
  transition: 0.3s ease;
  transition-property: box-shadow, background-color, color;
  border-radius: 5px;
  box-shadow: var(--shadow);
  border: 1px solid transparent;
  background: var(--inputs-bg);

  &:focus {
    box-shadow: var(--shadow-on-trigger);
    outline: none;
  }
}

input {
  width: min(100%, 250px);
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  background: var(--inputs-bg);
  transition: all 0.3s ease;
  font-family: "Source Code Pro", monospace;
  color: var(--clr);
  box-shadow: var(--shadow2);
  border: none;

  &:focus {
    outline: none;
    box-shadow: var(--shadow2-on-trigger);
  }
}

.ops-container input,
.ops-container textarea,
.ops-container select {
  background: var(--inputs-bg2);
}

#root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 2rem;
  width: 100%;
  max-width: 1500px;

  > section {
    display: flex;
    width: 90%;
    gap: 2rem;
    margin-block: 4rem;
    opacity: 0;
  }
}

.info,
.notes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background: var(--inputs-bg);

  p {
    line-height: 1.5;
  }
  ul {
    margin-left: 1rem;
    list-style: none;
  }
  a {
    color: #1da1f2;
  }
}

.theme-toggle-btn,
.home-btn {
  padding: 0.25rem;
  cursor: pointer;
  background: transparent;
  border: none;

  i {
    position: relative;
    display: block;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    color: var(--nav-n-footer-clr);
  }
  &.theme-toggle-btn {
    i.fa-sun {
      position: absolute;
    }
    i.fa-moon {
      opacity: 0;
    }
    &:hover {
      i.fa-sun {
        text-shadow: 0 0 1rem rgba(252, 255, 80, 0.5);
        color: #fcff50;
      }
      i.fa-moon {
        text-shadow: 0 0 1rem rgba(225, 233, 235, 0.5);
        color: #c8cecf;
      }
    }
  }
  &.home-btn:hover i {
    color: #8cff7d;
  }
}

header {
  //position: sticky;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--nav-n-footer-bg);
  border-bottom: 1px solid var(--inputs-bg);
  padding-block: 1rem;
  opacity: 0;
  color: var(--nav-n-footer-clr);
  * {
    color: inherit;
  }

  .navbar {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navlist {
      display: flex;
      list-style: none;
      gap: 1rem;
      align-items: center;
      li i {
        font-size: 1.25rem;
      }
    }
    .logo {
      cursor: pointer;
      font-family: "Silkscreen", monospace;
      font-weight: 700;
      font-size: 1.25rem;
      width: 5rem;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-block: 0.5rem;
  background: var(--nav-n-footer-bg);
  //box-shadow: var(--shadow);
  border-top: 1px solid var(--inputs-bg);
  color: var(--nav-n-footer-clr);
  opacity: 0;

  * {
    color: inherit;
  }
  p {
    width: 90vw;
  }

  .footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 1rem;

      a {
        cursor: pointer;
        text-decoration: none;
        font-size: 1.5rem;
        &.twitter:hover {
          color: #1da1f2;
        }

        &.instagram:hover {
          color: #e1306c;
        }

        &.github:hover {
          color: #666666;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #root > section {
    flex-direction: column;
    gap: 4rem;
  }
  .info,
  .notes {
    gap: 1rem;
  }
  .container {
    margin-block: 2rem;
  }
  footer {
    padding-block: 1rem;
    .footer-inner {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
  .wrapper {
    gap: 2rem;
  }
  .selects-flex {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
  }
}
