@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import "./vigenere";
@import "./rot";
@import "./morse";
@import "./home";

[data-theme="dark"] {
  --inputs-bg: rgb(50, 53, 65);
  --main-bg: rgb(24, 28, 39);
  --nav-n-footer-bg: #13161f;
  --nav-n-footer-clr: #f3f3f3;
  --clr: #f3f3f3;
  --shadow: none;
  --shadow-on-trigger: none;
  --shadow2: none;
  --shadow2-on-trigger: none;
}

[data-theme="light"] {
  --inputs-bg: #ffffff;
  --main-bg: #f2f4f6;
  --nav-n-footer-bg: #2b2b2b;
  --nav-n-footer-clr: #f3f3f3;
  --clr: #414141;
  --shadow: 0 0 1.5rem #a0a0a080;
  --shadow-on-trigger: 0 0 1.5rem #7a7a7a99;
  --shadow2: 0 0 0.75rem #a0a0a080;
  --shadow2-on-trigger: 0 0 0.75rem #a0a0a0bf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr);
  transition: 0.3s ease;
  transition-property: background-color, color, box-shadow, border;

  &:not(h1):not(h2):not(h3) {
    font-size: 1rem;
  }
}

h1 {
  text-align: center;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background: var(--main-bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: min(90vw, 900px);
}

select {
  font-family: inherit;
  background: var(--inputs-bg);
  box-shadow: var(--shadow2);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  transition: all 0.3s ease;

  &:focus {
    box-shadow: var(--shadow2-on-trigger);
  }
}

textarea {
  resize: vertical;
  width: 90vw;
  padding: 1rem;
  font-family: inherit;
  transition: all 0.3s ease;
  transition-property: box-shadow, background-color, color;
  border-radius: 5px;
  box-shadow: var(--shadow);
  border: 1px solid transparent;
  background: var(--inputs-bg);

  &:focus {
    box-shadow: var(--shadow-on-trigger);
    outline: none;
  }
}

input {
  width: min(100%, 250px);
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  background: var(--inputs-bg);
  transition: all 0.3s ease;
  color: var(--clr);
  box-shadow: var(--shadow2);
  border: none;

  &:focus {
    outline: none;
    box-shadow: var(--shadow2-on-trigger);
  }
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //gap: 2rem;
  min-height: 100vh;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin-block: 4rem;

  p {
    line-height: 1.5;
  }
}

.theme-toggle-btn {
  padding: 0.25rem;
  cursor: pointer;
  background: transparent;
  border: none;

  i {
    position: relative;
    display: block;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    color: var(--nav-n-footer-clr);
  }
  &:hover i {
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  }
}

header {
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--nav-n-footer-bg);
  border-bottom: 1px solid var(--inputs-bg);
  padding-block: 1rem;
  box-shadow: var(--shadow);
  color: var(--nav-n-footer-clr);
  * {
    color: inherit;
  }

  .navbar {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navlist-left,
    .navlist-right {
      display: flex;
      list-style: none;
    }

    .navlist-right {
      gap: 2rem;

      a {
        text-decoration: none;
      }

      > li {
        position: relative;

        &::before {
          content: "";
          height: 1px;
          width: 0;
          position: absolute;
          bottom: -1px;
          right: 0;
          transition: all 0.3s ease;
          background: var(--nav-n-footer-clr);
        }

        &:hover::before {
          width: 100%;
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: 0.5rem;
  background: var(--nav-n-footer-bg);
  box-shadow: var(--shadow);
  border-top: 1px solid var(--inputs-bg);
  color: var(--nav-n-footer-clr);

  * {
    color: inherit;
  }

  .footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 1rem;

      a {
        cursor: pointer;
        text-decoration: none;
        font-size: 1.5rem;
        &.twitter:hover {
          color: #1da1f2;
        }

        &.instagram:hover {
          color: #e1306c;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  * {
    text-align: center;
  }
  .container {
    margin-block: 2rem;
  }
  footer {
    padding-block: 1rem;
    .footer-inner {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}
