@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
.inner-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: min(100%, 500px);
}
.inner-wrapper > * {
  width: 100%;
}

.chooseOp {
  width: 100%;
}

.base32-wrapper [data-error=true] {
  color: #ff5555;
}
.base32-wrapper [data-error=false] {
  color: var(--clr);
}

.xor-wrapper {
  width: 90vw;
}
.xor-wrapper .format-select {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.xor-wrapper .input-container {
  position: relative;
  display: flex;
  gap: 1rem;
  width: 100%;
}
.xor-wrapper .input-container > * {
  width: 100%;
}
.xor-wrapper .input-container textarea {
  width: 100%;
}
.xor-wrapper .input-container .input-area-container {
  position: relative;
}
.xor-wrapper .input-container .input-area-container select {
  position: absolute;
}
.xor-wrapper .input-container .key-area-container {
  position: relative;
}
.xor-wrapper .input-container .key-area-container #randtextlength-btn {
  position: absolute;
  right: 0;
  top: -2.25rem;
}
.xor-wrapper .rand {
  background: none;
  border: none;
  cursor: pointer;
}
.xor-wrapper .rand:hover i {
  color: rgb(134, 125, 255);
}
.xor-wrapper .rand i {
  font-size: 1.25rem;
  pointer-events: none;
}

@media (max-width: 500px) {
  .xor-wrapper .format-select {
    width: 100%;
    flex-direction: column;
    align-self: center;
  }
  .xor-wrapper .format-select select {
    width: 100%;
  }
  .xor-wrapper .input-container {
    flex-direction: column;
    gap: 2.75rem;
  }
  .xor-wrapper .input-container .key-area-container #randtextlength-btn {
    top: -2.25rem;
  }
  .xor-wrapper .rand i {
    font-size: 1.5rem;
  }
}
.morse-wrapper .notes p > code {
  font-family: "Source Code Pro", monospace;
}

.home-wrapper {
  gap: 4rem;
  margin-block: 4rem;
  width: min(90vw, 900px);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: start;
}
.home-wrapper .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.buttons-grid {
  display: grid;
  width: 100%;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  perspective: 400px;
}
.buttons-grid .button {
  aspect-ratio: 1/1;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
  border-radius: 5px;
  background: var(--inputs-bg);
}
.buttons-grid .button:hover {
  box-shadow: var(--shadow-on-trigger);
  transform: scale(1.05);
}

.home-wrapper {
  gap: 4rem;
}

[data-theme=dark] {
  --inputs-bg: rgb(50, 53, 65);
  --main-bg: rgb(24, 28, 39);
  --nav-n-footer-bg: #13161f;
  --nav-n-footer-clr: #f3f3f3;
  --clr: #f3f3f3;
  --shadow: none;
  --shadow-on-trigger: none;
  --shadow2: none;
  --shadow2-on-trigger: none;
}

[data-theme=light] {
  --inputs-bg: #ffffff;
  --main-bg: #f2f4f6;
  --nav-n-footer-bg: #2b2b2b;
  --nav-n-footer-clr: #f3f3f3;
  --clr: #414141;
  --shadow: 0 0 0.75rem #a0a0a080;
  --shadow-on-trigger: 0 0 1.5rem #7a7a7a99;
  --shadow2: 0 0 0.75rem #a0a0a080;
  --shadow2-on-trigger: 0 0 0.75rem #a0a0a0bf;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr);
  transition: 0.3s ease;
  transition-property: background-color, color, box-shadow, border;
}
*:not(h1):not(h2):not(h3) {
  font-size: 1rem;
}

h1 {
  text-align: center;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background: var(--main-bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  opacity: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
  width: 90%;
}

.selects-flex {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: min(100%, 500px);
}
.selects-flex > * {
  width: 100%;
}
.selects-flex div {
  display: none;
  gap: 0.5rem;
}
.selects-flex div input {
  flex: 1;
}

select {
  font-family: inherit;
  background: var(--inputs-bg);
  box-shadow: var(--shadow2);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  transition: all 0.3s ease;
}
select:focus {
  box-shadow: var(--shadow2-on-trigger);
}

textarea {
  resize: vertical;
  width: 100%;
  padding: 1rem;
  font-family: "Source Code Pro", monospace;
  transition: 0.3s ease;
  transition-property: box-shadow, background-color, color;
  border-radius: 5px;
  box-shadow: var(--shadow);
  border: 1px solid transparent;
  background: var(--inputs-bg);
}
textarea:focus {
  box-shadow: var(--shadow-on-trigger);
  outline: none;
}

input {
  width: min(100%, 250px);
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  background: var(--inputs-bg);
  transition: all 0.3s ease;
  font-family: "Source Code Pro", monospace;
  color: var(--clr);
  box-shadow: var(--shadow2);
  border: none;
}
input:focus {
  outline: none;
  box-shadow: var(--shadow2-on-trigger);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1500px;
}
#root > section {
  display: flex;
  width: 90%;
  gap: 2rem;
  margin-block: 4rem;
  opacity: 0;
}

.info,
.notes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}
.info p,
.notes p {
  line-height: 1.5;
}
.info ul,
.notes ul {
  margin-left: 1rem;
  list-style: none;
}
.info a,
.notes a {
  color: #1da1f2;
}

.theme-toggle-btn,
.home-btn {
  padding: 0.25rem;
  cursor: pointer;
  background: transparent;
  border: none;
}
.theme-toggle-btn i,
.home-btn i {
  position: relative;
  display: block;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  color: var(--nav-n-footer-clr);
}
.theme-toggle-btn.theme-toggle-btn:hover i.fa-sun,
.home-btn.theme-toggle-btn:hover i.fa-sun {
  text-shadow: 0 0 1rem rgba(252, 255, 80, 0.5);
  color: #fcff50;
}
.theme-toggle-btn.theme-toggle-btn:hover i.fa-moon,
.home-btn.theme-toggle-btn:hover i.fa-moon {
  text-shadow: 0 0 1rem rgba(225, 233, 235, 0.5);
  color: #c8cecf;
}
.theme-toggle-btn.home-btn:hover i,
.home-btn.home-btn:hover i {
  color: #8cff7d;
}

header {
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--nav-n-footer-bg);
  border-bottom: 1px solid var(--inputs-bg);
  padding-block: 1rem;
  opacity: 0;
  color: var(--nav-n-footer-clr);
}
header * {
  color: inherit;
}
header .navbar {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .navlist-left,
header .navbar .navlist-right {
  display: flex;
  list-style: none;
}
header .navbar .navlist-right {
  gap: 2rem;
}
header .navbar .navlist-right a {
  text-decoration: none;
}
header .navbar .navlist-right > li {
  position: relative;
}
header .navbar .navlist-right > li::before {
  content: "";
  height: 1px;
  width: 0;
  position: absolute;
  bottom: -1px;
  right: 0;
  transition: all 0.3s ease;
  background: var(--nav-n-footer-clr);
}
header .navbar .navlist-right > li:hover::before {
  width: 100%;
}
header .navbar .navlist-left {
  gap: 1rem;
  align-items: center;
}
header .navbar .navlist-left li i {
  font-size: 1.25rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-block: 0.5rem;
  background: var(--nav-n-footer-bg);
  border-top: 1px solid var(--inputs-bg);
  color: var(--nav-n-footer-clr);
  opacity: 0;
}
footer * {
  color: inherit;
}
footer p {
  width: 90vw;
}
footer .footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
footer .footer-inner ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
footer .footer-inner ul a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}
footer .footer-inner ul a.twitter:hover {
  color: #1da1f2;
}
footer .footer-inner ul a.instagram:hover {
  color: #e1306c;
}
footer .footer-inner ul a.github:hover {
  color: #666666;
}

@media (max-width: 500px) {
  #root > section {
    flex-direction: column;
    gap: 4rem;
  }
  .info,
.notes {
    gap: 1rem;
  }
  .container {
    margin-block: 2rem;
  }
  footer {
    padding-block: 1rem;
  }
  footer .footer-inner {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .wrapper {
    gap: 2rem;
  }
  .selects-flex {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
  }
}/*# sourceMappingURL=main.css.map */